<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>checkAction</servlet-name>
		<servlet-class>com.jikexueyuan.action.CheckAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkAction</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>LogoutAction</servlet-name>
		<servlet-class>com.jikexueyuan.action.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAction</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

</web-app>